<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <canvas id="employeesPieChart"  width="400" height="400"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
fetch('/api/employees-per-department/', {
    method: 'GET',
    headers: {
        'Authorization': 'Token f1633fd99190402551fd2b9bd750020908a188bb',
        'Content-Type': 'application/json'
    }
})
  .then(response => response.json())
  .then(data => {
    const labels = data.map(item => item.name);
    const counts = data.map(item => item.employee_count);
    
    const ctx = document.getElementById('employeesPieChart').getContext('2d');
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: labels,
        datasets: [{
          label: 'Employees per Department',
          data: counts,
          backgroundColor: ['red', 'blue', 'green', 'yellow', 'orange'],
        }]
      }
    });
  });
</script>

</body>
</html>