# Created by venv; see https://docs.python.org/3/library/venv.html
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.egg-info/
dist/
build/
myenv/
.env
